body{
	background-image: url("light-grey-terrazzo.png");
	background-color: pink;
	background-blend-mode: multiply;
}

#wrapper{
	width: 820px;
	height: 500px;
	font-family: calibri;
	line-height: 25px;
	text-align: center;
	margin: auto;
	top: 60px;
	position: relative;
	background: linear-gradient(180deg, rgba(255, 89, 159, 0.78) 0%, rgba(255, 255, 255, 0) 100%), rgba(187, 107, 217, 0.25);
	mix-blend-mode: normal;
}

#profile{
	width: 600px;
	height: 100px;
	position: absolute;
	font-family: Rancho;
	font-weight: normal;
	font-style: normal;
	font-size: 65px;
	border-style: dotted;
	left: 90px;
	top: 10px;
	text-align: center;
}

.textProfile{
	margin: auto;
	margin-top: 35px;
}


#foto{
	width: 220px;
	height: 250px;
	padding-top: 5%;
	padding-bottom: 5%;
	position: relative;
	margin: auto;
	top: 120px;
	left: -20px;
	text-align: center;
	background: linear-gradient(180deg, #980D3F 0%, rgba(207, 25, 91, 0) 100%), #FCC0EF;
	border: 3px solid #BB6BD9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img{
	border-radius: 50%;
	position: relative;
	top: 17px;
}

.namaPanggilan{
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	color: #840C37;
}

.namaLengkap{
	position: relative;
	width: 123px;
	height: 58px;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	margin: auto;
	top: -20px;
	left: -30px;
	color: #840C37;
}


#aboutMe{
	width: 260px;
	height: 324px;
	position: relative;
	margin: auto;
	right: 270px;
	bottom: 208px;
	text-align: right;
	padding-right: 10px;
}

h3{
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
	color: #C3660F;
}

.description{
	font-family: century;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #EC6A32;
}


#personalInfo{
	width: 320px;
	height: 321px;
	position: relative;
	margin: auto;
	bottom: 552px;
	left: 260px;
	text-align: left;
	padding-left: 10px;
}

.info{
	font-family: century;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	padding-top: -20px;
	color: #EC6A32;
}


